/* Generics */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   font-family: Whitney, Helvetica Neue, Helvetica,Arial, sans-serif;; 
}

/* Utils */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.w-60{
    width: 60%;
}

.w-20{
    width: 20%;
}

.width-jumbo{
    width: 40%;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.big-button{
    margin-top: 40px;
}

.btn{
    text-decoration: none;
    font-weight: 600;
}

.btn.btn-white{
    background-color: #fff;
    color: black;
}

.btn.btn-white:hover{
    color: #255EE9;
}

.btn.btn-dark{
    background-color: #23272A;
    color: white;
}

.btn.btn-dark:hover{
    background-color: #36393f;
}

.btn.btn-small{
    padding: 10px 15px;
    border-radius: 20px;
}

.btn.btn-large{
    padding: 18px 30px;
    border-radius: 40px;
}

.btn-space{
    margin-right: 30px;
}

/* Topbar */

#logo{
    vertical-align: middle;
}

.main-bar{
    color: white;
}

.topbar{
    background-color: #255EE9;
    height: 80px;
    line-height: 80px;
}

.col{
    display: inline-block;
    float: left;
}

.main-nav{
    
}

.main-nav ul li{
    display: inline-block;
}

.main-nav a{
    color: white;
    text-decoration: none;
    font-weight: 550;
    font-size: 17px;
    padding: 15px;
}

.main-nav a:hover{
    text-decoration: underline;
}

/* Jumbotron */

.jumbotron{
    background-image: url(../img/jumbo.png);
    min-height: 600px;
    background-size: cover;
    position: relative;
}

.jumbotron .container{
    position: absolute;
    top: 20%;
    right: 30%;
}

.jumbotron h1{
    font-size: 3.8em;
    margin-bottom: 40px;
}

.jumbotron p{
    font-size: 20px;
}