/* Generics */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
   font-family: 'Whitney', 'Helvetica Neue', 'Helvetica','Arial, sans-serif';;
}

/* Utils */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}


/* Width class */

.w-15{
    width: 15%;
}

.w-20{
    width: 20%;
}

.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-60{
    width: 60%;
}

.w-90{
    width: 90%;
}


.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.fleft{
    float: left;
}

.fright{
    float: right;
}

/* Buttons */

.big-button{
    margin-top: 40px;
}

.btn{
    text-decoration: none;
    font-weight: 600;
}

.btn.btn-white{
    background-color: #fff;
    color: black;
}

.btn.btn-white:hover{
    color: #255EE9;
}

.btn.btn-dark{
    background-color: #23272A;
    color: white;
}

.btn.btn-dark:hover{
    background-color: #36393f;
}

.btn.btn-blue{
    background-color: #8EA1E1;
    color: white;
}

.btn.btn-blue:hover{
    background-color: #7983F5;
    color: black;
}

.btn.btn-small{
    padding: 10px 15px;
    border-radius: 20px;
}

.btn.btn-large{
    padding: 18px 30px;
    border-radius: 40px;
}

.btn-space{
    margin-right: 30px;
}

/* Topbar */

.logo{
    vertical-align: middle;
}

.main-bar{
    color: white;
}

.topbar{
    background-color: #255EE9;
    height: 80px;
    line-height: 80px;
}

.col{
    display: inline-block;
    float: left;
}


.main-nav ul li{
    display: inline-block;
}

.main-nav a{
    color: white;
    text-decoration: none;
    font-weight: 550;
    font-size: 17px;
    padding: 15px;
}

.main-nav a:hover{
    text-decoration: underline;
}

/* Jumbotron */

.jumbotron{
    background-image: url(../img/jumbo.png);
    min-height: 600px;
    background-size: cover;
    position: relative;
}

.jumbotron .container{
    position: absolute;
    top: 20%;
    right: 30%;
}

.jumbotron h1{
    font-size: 3.8em;
    margin-bottom: 40px;
}

.jumbotron p{
    font-size: 20px;
}

/* Main */

.main-section{
    margin-bottom: 350px;
    margin-top: 150px;
}

.bottom-section{
    position: relative;
}


.info-text{
    margin-top: 30px;
}

.info-text h2{
    font-size: 3em;
    font-weight: 700;
}

.info-text p{
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 30px;
    line-height: 30px;
}

#big-photo{
    width: 100%;
}

.container h3{
    font-size: 2em;
    margin-top: 35px;
    margin-bottom: 50px;
    position: relative;
}

.bg-stars{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
}

/* Waves section */

.waves{
   position: relative;
}

.bg-wave{
    background-image: url(../img/wave.svg);
    opacity: 5%;
    height: 200px;
    width: 100%;
    top: -200px;
    left: 0;
    position: absolute;
    z-index: -1;
}

.bg-bodywave{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #F3F3F3;
    z-index: -1;
}
.waves-mir{
    transform: rotate(180deg);
    background-image: url(../img/wave.svg);
    opacity: 5%;
    height: 300px;
    width: 100%;
    bottom: -300px;
    position: absolute;
    z-index: -1;
}



/* Footer */

footer{
    background-color: #23272A;
    min-height: 800px;
    margin-top: 150px;
}

.f-col{
    float: left;
    margin-top: 100px;
}

.text-blue{
    color: #7289DA;
}


.f-col h2{
    font-size: 2.3em;
}

.f-col li{
    list-style-type: none;
    height: 40px;
    font-weight: bold;
}

.f-col a{
    text-decoration: none;
    color: white;
}

.f-col a:hover{
    text-decoration: underline;
    color: #7983F5;
}

a.text-blue{
    font-size: 20px;
}


#logo-ita{
    height: 20px;
    margin: 20px 0;
    vertical-align: middle;
}

.language{
    color: white;
    cursor: pointer;
    display: inline-block;
}

.social-margin{
    margin-right: 10px;
}


/* Final Footer */

.bottom-footer{
    position: relative;
    margin-top: 50px;
}

.bottom-footer a{
    position: absolute;
    right: 0;
}

footer .container:first-child{
    border-bottom: 1px solid #7289DA;
}

